# Visual Studio Code settings and extensions
.vscode  

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
.evn

# Dataset files
*.hdf5
*.h5

*.pth

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Test files
test_connection.py
ori_pick_place_imitation_data_recorder.py
excerpts.md

fix_dataset_schema.py
*.zip